<div class="capture-views__list">
    <div class="capture-views__list-header">
        <h2>Views</h2>
    </div>

    <div class="capture-views__list-content">
        {{view-list}}
    </div>
</div>

<div class="capture-views__content">
    {{yield}}
</div>
