<div class="capture-view__header">
    {{#if viewDataStore.isLoading}}
        <h2>Loading view...</h2>
    {{/if}}
    {{#if viewDataStore.hasLoaded}}
        <h2>{{viewDataStore.view.name}}</h2>
    {{/if}}
</div>

<div class="capture-view__content">
    {{#if dataStore.isLoading}}
        Loading... ({{number-to-string dataStore.loadingProgress}}%)
    {{/if}}

    {{#if dataStore.hasLoaded}}
        <div class="capture-view__table-wrapper">
            {{sd-table columns=columns rows=rows}}
        </div>
    {{/if}}
</div>