<div class="metric-summary__header">
    {{data.name}}
</div>

<div class="metric-summary__value">
    {{number-to-string data.totalValue}}
</div>

<div class="metric-summary__time-series">
    {{sd-time-series
        height=timeSeriesHeight
        width=timeSeriesWidth
        isSelected=isSelected
        timestampProp="t"
        valueProp="v"
        data=data.timeSeries
        theme="background"
    }}
</div>
