<div class="wsd-card__header wsd-card__header--two-line wsd-card__header--center">
    <div class="wsd-card__header-title">{{data.name}}</div>
</div>

<div class="summary-metric__content wsd-card__content wsd-card__content--center">
    {{number-to-string data.totalValue}}
</div>