<div class="wsd-capture-view__content">
    {{#if dataStore.isLoading}}
        Loading... ({{number-to-string dataStore.loadingProgress}}%)
    {{/if}}

    {{#if dataStore.hasLoaded}}
        {{component
            dataComponentName
            viewConfiguration=viewConfiguration
            dataStore=dataStore
            select=(action "select")
            drillDown=(action "drillDown")
        }}
    {{/if}}
</div>