{{!--
Copyright (C) 2017 Draios inc.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 2 as
published by the Free Software Foundation.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
--}}

{{#sd-promise-wait-overlay promiseState=dataStore}}
    <div class="wsd-capture-overview__scrollable">
        <div class="wsd-capture-overview__content">
            {{#each categories key="name" as |category|}}
                <div class="wsd-capture-overview__category">
                    <div class="wsd-capture-overview__category-name">
                        {{category.name}}
                    </div>

                    {{#each category.metricsData key="data.name" as |metric|}}
                        <div class="wsd-capture-overview__category-item">
                            {{wsd-metric-tile
                                classNames="wsd-metric-tile--is-category-item"
                                data=metric.data
                                isSelected=metric.isSelected
                                isTimelinePinned=metric.isTimelinePinned
                                drillDown=(action "drillDown" metric.data.name)
                                toggleTimeline=(action toggleMetricTimeline metric.data.name)
                                select=(action "select" metric.data.name)
                                deselect=(action "deselect")
                            }}
                        </div>
                    {{/each}}
                </div>
            {{/each}}
        </div>
    </div>
{{/sd-promise-wait-overlay}}
