<div class="wsd-capture-data-dig__content" tabIndex="0">
    {{#each rows key="@index" as |row|}}
        <div class="wsd-capture-data-dig__row">
            {{row}}
        </div>
    {{/each}}
</div>
