{{!--
Copyright (C) 2017 Draios inc.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 2 as
published by the Free Software Foundation.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
--}}

{{#sd-promise-wait-overlay promiseState=dataStore alwaysShowData=true}}
    <div class="wsd-capture-data-dig__scrollable" tabIndex="0">
        <div class="wsd-capture-data-dig__content">
            {{#each rows key="@index" as |row|}}
                <div class="wsd-capture-data-dig__row {{if row.isNotSearchMatch "wsd-capture-data-dig__row--is-not-search-match"}}">
                    {{sd-tokenized-output output=row.data}}
                </div>
            {{/each}}
        </div>
    </div>
{{/sd-promise-wait-overlay}}
