{{!--
Copyright (C) 2017 Draios inc.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 2 as
published by the Free Software Foundation.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
--}}

<div class="wsd-table-cell-actions__content">
    {{sd-tokenized-output output=cell.output}}
</div>

<div class="wsd-table-cell-actions__controls">
    <div class="wsd-table-cell-actions__control">
        {{sd-button
            iconName="drill_down"
            classNames="sd-button--fab sd-button--raised"
            size="sm"
            color="white"
            tabIndex="-1"
            title="Drill down"
            click=(action click "drillDown" row)
        }}
    </div>
    <div class="wsd-table-cell-actions__control">
        {{sd-button
            iconName="echo"
            classNames="sd-button--fab sd-button--raised"
            size="sm"
            color="white"
            tabIndex="-1"
            title="I/O streams"
            click=(action click "echo" row)
        }}
    </div>
    <div class="wsd-table-cell-actions__control">
        {{sd-button
            iconName="dig"
            classNames="sd-button--fab sd-button--raised"
            size="sm"
            color="white"
            tabIndex="-1"
            title="Syscalls"
            click=(action click "dig" row)
        }}
    </div>
</div>
