{{!--
Copyright (C) 2017 Draios inc.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 2 as
published by the Free Software Foundation.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
--}}

{{#if isOverview}}
    {{wsd-capture-overview
        filePath=captureInfo.filePath
        timelines=metricTimelines
        timeWindow=timeWindow
        drilldownInfoParam=model.queryParams.drilldownInfoParam
        toggleMetricTimeline=(action toggleMetricTimeline)
        drillDown=(action drillDown)
    }}
{{else}}
    <div class="wsd-capture-view__content">
        {{#sd-promise-wait-overlay promiseState=dataStore}}
            {{component
                drillDownComponentName
                selection=currentDrilldownStep.selection
                viewDataStore=viewDataStore
                dataStore=dataStore
                select=(action "select")
                drillDown=(action "drillDown")
            }}
        {{/sd-promise-wait-overlay}}
    </div>
{{/if}}
