<div class="wsd-capture-view__content">
    {{component
        dataComponentName
        selection=currentDrilldownStep.selection
        viewDataStore=viewDataStore
        dataStore=dataStore
        select=(action "select")
        drillDown=(action "drillDown")
    }}
</div>