{{#unless isHead}}
    <div>
        {{sd-button
            iconName="info_black"
            classNames="sd-button--fab sd-button--highlight-on-hover"
            size="sm"
            click=(action click "drillDown" row)
        }}
    </div>
    <div>
        {{sd-button
            iconName="info_black"
            classNames="sd-button--fab sd-button--highlight-on-hover"
            size="sm"
            click=(action click "dig" row)
        }}
    </div>
    <div>
        {{sd-button
            iconName="info_black"
            classNames="sd-button--fab sd-button--highlight-on-hover"
            size="sm"
            click=(action click "echo" row)
        }}
    </div>
{{/unless}}
