<div class="wsd-table-cell-actions__content">
    {{cell.value}}
</div>

<div class="wsd-table-cell-actions__controls">
    <div class="wsd-table-cell-actions__control">
        {{sd-button
            iconName="forward_black"
            classNames="sd-button--fab sd-button--highlight-on-hover"
            size="sm"
            tabIndex="-1"
            click=(action click "drillDown" row)
        }}
    </div>
    <div class="wsd-table-cell-actions__control">
        {{sd-button
            iconName="swap_horiz_black"
            classNames="sd-button--fab sd-button--highlight-on-hover"
            size="sm"
            tabIndex="-1"
            click=(action click "echo" row)
        }}
    </div>
    <div class="wsd-table-cell-actions__control">
        {{sd-button
            iconName="view_list_black"
            classNames="sd-button--fab sd-button--highlight-on-hover"
            size="sm"
            tabIndex="-1"
            click=(action click "dig" row)
        }}
    </div>
</div>
