{{#unless isHead}}
    <div>
        {{wsd-button
            iconName="info_black"
            classNames="wsd-button--fab wsd-button--highlight-on-hover"
            size="sm"
            click=(action click "drillDown" row)
        }}
    </div>
    <div>
        {{wsd-button
            iconName="info_black"
            classNames="wsd-button--fab wsd-button--highlight-on-hover"
            size="sm"
            click=(action click "dig" row)
        }}
    </div>
    <div>
        {{wsd-button
            iconName="info_black"
            classNames="wsd-button--fab wsd-button--highlight-on-hover"
            size="sm"
            click=(action click "echo" row)
        }}
    </div>
{{/unless}}
