{{#if dataStore.isLoading}}
    Loading... ({{number-to-string dataStore.loadingProgress}}%)
{{/if}}

{{#if dataStore.hasLoaded}}
    <div class="wsd-capture-overview__content">
        {{#each categories key="name" as |category|}}
            <div class="wsd-capture-overview__category">
                <div class="wsd-capture-overview__category-item">
                    <div class="wsd-capture-overview__category-name">
                        {{category.name}}
                    </div>
                </div>

                {{#each category.metricsData key="data.name" as |metric|}}
                    <div class="wsd-capture-overview__category-item">
                        {{wsd-metric-tile
                            classNames="wsd-metric-tile--is-category-item"
                            data=metric.data
                            isSelected=metric.isSelected
                            select=(action "drillDown" metric.data.name metric.data.targetViewFilter metric.data.targetView)
                            toggleTimeline=(action toggleMetricTimeline metric.data.name)
                        }}
                    </div>
                {{/each}}
            </div>
        {{/each}}
    </div>
{{/if}}
