<div class="wsd-page">
    <div class="wsd-page__header">
        <a class="wsd-page__header-logo">
            <img src="/assets/images/sysdig-white-logo.png">
        </a>
        <div class="wsd-page__header-title">
            {{captureFilePath}}
        </div>
        <div class="wsd-page__header-button">
            {{#sd-button color="white" iconName="file_white" click=(action "openFile")}}
                Open
            {{/sd-button}}
        </div>
    </div>

    <div class="wsd-page__content">
        {{outlet}}
    </div>
</div>
