<div class="wsd-page">
    <div class="wsd-page__header">
        <div class="wsd-page__header-title">
            {{captureFilePath}}
        </div>
    </div>

    <div class="wsd-page__content">
        {{outlet}}
    </div>
</div>
