{{!--
Copyright (C) 2017 Draios inc.

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License version 2 as
published by the Free Software Foundation.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
--}}

<div class="wsd-page__header">
    {{wsd-capture-header
        filePath=model.filePath
        openFile=(action "openFile")
        openFileBrowser=(action "openFileBrowser")
    }}
</div>

<div class="wsd-page__content">
    {{#wsd-capture-panel
        filePath=model.filePath
        drilldownInfoParam=model.queryParams.drilldownInfoParam
        timelines=captureTimelines.timelines
        timeWindow=timeWindow
        selectedViewId=selectedViewId
        filter=filter
        navigateTo=(route-action "drillDown")
        drillDown=(route-action "drillDown")
        selectTimeWindow=(route-action "selectTimeWindow")
        removeMetricTimeline=(route-action "removeMetricTimeline")
        applyFilter=(route-action "applyFilter")
        applySearch=(route-action "applySearch")
    }}
        {{outlet}}
    {{/wsd-capture-panel}}
</div>