<div class="welcome__container">
    <div class="welcome__panel">
        <header class="welcome__header">
            <a class="welcome__header-img">
                <img src="/assets/images/sysdig-white-logo.png">
            </a>
            <h1 class="welcome__header-title">Sysdig capture analyser</h1>
        </header>
        <section class="welcome__options">
            <ul class="welcome__menu">
                <li class="welcome__menu-option">
                    <a class="welcome__menu-option-button" {{action "openFile"}}>
                        <i class="fa fa-folder-open-o" aria-hidden="true"></i> Open a capture
                    </a>
                </li>
            </ul>
        </section>
    </div>
</div>
